body {
    width: 300px;
    padding: 10px;
    background-color: hsla(39, 97%, 56%, 0.788);
  }
  
  select, button {
    margin-top: 10px;
    padding: 5px 10px;
    display: block;
    width: 100%;
  }

  .logo{
    width: 80px;
  }
  
  #stopReading {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border: 1px solid black;
  }

  button:hover{
    cursor: pointer;
  }
  
  #currentText {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid black;
    max-height: 150px;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.4;
  }